@{
  ViewData["Title"] = "Odkazy:";
}

<h2 id="odkazy">Odkazy:</h2>
<h2 id="github-url---httpsgithubcomerlepmygit">GitHub URL - <a href="https://github.com/erlep/MyGit">https://github.com/erlep/MyGit</a></h2>
<h2 id="aspnet-web---httppegaspifyhostcz"><a href="http://ASP.NET">ASP.NET</a> Web - <a href="http://peg.aspifyhost.cz">http://peg.aspifyhost.cz</a></h2>
<h2 id="made-by-peg---httpsgithubcomerlep">made by peg - <a href="https://GitHub.com/ErleP">https://GitHub.com/ErleP</a></h2>
